/* Contenedor principal Main */
main
{
    top: 19vh;
    align-items: flex-start;
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 1.5vw;
    margin-bottom: 20vh;
}

/* - - - - - - - - - - CONTENEDOR IZQUIERDO DE NAVEGACIÓN - - - - - - - - - - */
.menuNav
{
    width: 30%;
    position: sticky; /* Se mantiene visible al hacer scroll */
    top: 19vh;
    height: auto; /* Permite que el contenido crezca según sea necesario */
    overflow-y: auto;
    z-index: 50;
}

summary
{
    background-color: transparent; /* Fondo transparente cuando está cerrado */
    padding: 1rem 1.5rem;
    font-family: "Prata", serif;
    font-size: 1.5rem;
    border-radius: 20px 20px 0 0;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

summary:hover
{
    background-color: #fee07c;
}

/*Esto es para cuando el details está abierto, mantiene el fondo amarillo */
details[open] > summary
{
    background-color: #fee07c;
}

details
{
    margin: 0.7rem;
    width: 15.5vw;
    overflow: hidden;
    min-width: 335px;
    border-radius: 20px;
    transition: background-color 0.4s ease-in-out; /*Transición de apertura y cierre*/
}

details[closed]
{
    background-color: transparent;
}

details[open] 
{
    background-color: rgba(254, 224, 124, 0.506);
    height: 47vh;
    max-height: 335px;
}

details[open]:nth-child(3)
{
    height: 41vh;
    max-height: 292px;
}

details ul
{
    margin: 1rem 1.5rem 0 1rem;
    padding: 0;
}

details ul li
{
    list-style-type: none;
}

details ul li a 
{   
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.5rem 1rem;
    display: block;
    transition: color ease-in-out 0.2s;
}

details ul li a:hover
{
    color: #ca580c;
}

/* - - - - - - - - - - SECCIÓN DEL MENÚ - - - - - - - - - - */
.menuSection
{
    margin: 0;
    width: 70%;
    height: fit-content;
    padding: 3vh 3vw 1vh 0;
}


.menuSection h2 
{
    font-family: "Prata", serif;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #000;
}

.menuGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
    height: 57vh;
}

.menuItem, .mom a
{
    position: relative;
    width: 22vw;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem:first-of-type{border-radius: 1.5rem 0 0 0;}
.menuItem:nth-of-type(3){border-radius: 0 1.5rem 0 0;}
.menuItem:nth-of-type(4){border-radius: 0 0 0 1.5rem;}
.menuItem:last-of-type{border-radius: 0 0 1.5rem 0;}

.menuItem::before, .mom a::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menuItem:hover::before, .menuItem.focused::before, .mom a:hover::before
{
    opacity: 1;
}

.menuItem img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuItem p, .mom a p
{
    position: absolute;
    display: block;
    padding: 1rem;
    margin: 0;
    color: transparent;
    font-size: 1.7vw;
    font-weight: 500;
    text-align: center;

    transition: color 0.3s ease;
    text-shadow: 2px 2px 3px transparent;
    z-index: 1;
}

.menuItem:hover p, .cell.focused p, .mom a:hover p
{
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}

/* Especialidades del mes */
.mom
{
    margin: 0 0 15vh 0 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 65vh;
    max-height: 530px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.mom a
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mom a p
{
    font-size: 3vw;
    text-shadow: transparent;
}

.mom a:nth-child(1) {background-image: url(../Multimedia/Menu/momCake.jpeg);}
.mom a:nth-child(2) {background-image: url(../Multimedia/Menu/momCook.jpg);}
.mom a:nth-child(3) {background-image: url(../Multimedia/Menu/momBread.jpg);}